*.p12
*.jks
*.cache
*.zip-cache
*.env
/nginx/
cdsConfig.xml
/cds/contest-data/*
/cups-config/ppd/*
/domjudge/database_dumps/*
/domjudge/domjudge-images
/cds/present/promo/*
/cds/present/photos/*
/cds/present/build/*
