<cds>
        <contest location="/contest-data/<id>" recordReactions="false">
                <ccs url="<domjudge-url>/api/contests/<id>" user="cds" password="xxxxxxxxxxxx"/>
        </contest>
</cds>

